# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

GPUCache

*.backup.*
assets/destiny_child/soul_carta/data.json
assets/destiny_child/soul_carta/images/*
!assets/destiny_child/soul_carta/images/.gitkeep
assets/destiny_child/soul_carta/avatars/*
!assets/destiny_child/soul_carta/avatars/.gitkeep
assets/destiny_child/soul_carta/live2d/*

assets/destiny_child/child/data.json
assets/destiny_child/child/avatars/*
!assets/destiny_child/child/avatars/.gitkeep
assets/destiny_child/child/live2d/*

backups.json