@font-face {
  font-family: "iconfont"; /* Project id 3866261 */
  src: url('iconfont.woff2?t=1676006746354') format('woff2'),
       url('iconfont.woff?t=1676006746354') format('woff'),
       url('iconfont.ttf?t=1676006746354') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-fill:before {
  content: "\e849";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-camera:before {
  content: "\e667";
}

.icon-skin:before {
  content: "\e630";
}

